url: https://hexmyria.github.io
baseurl: "" # the subpath of your site, e.g. /blog

# Site settings
title: ステラ/HexMyria
email: your-email@domain.com
description: "AIイラストクリエイターのポートフォリオ。美しい二次元少女の作品集と、生成プロンプト、支援サイトへのリンクを公開しています。"

# Team names, titles and social links
people:
  - name: Kay Garland
    pic: 1
    position: Lead Designer
    social:
      - title: twitter
        url: #
      - title: facebook
        url: #
      - title: stack-overflow
        url: #

  - name: Larry Parker
    pic: 2
    position: Lead Marketer
    social:
      - title: twitter
        url: #
      - title: facebook
        url: #
      - title: linkedin
        url: #

  - name: Diana Petersen
    pic: 3
    position: Lead Developer
    social:
      - title: twitter
        url: #
      - title: facebook
        url: #
      - title: google-plus
        url: #

# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  - title: twitter
    url: https://x.com/ai_hexmyria
  - title: facebook
    url:
  - title: stack-overflow
    url: http://stackoverflow.com/questions/tagged/jekyll
  - title: bitbucket
    url: http://bitbucket.org/jekyll
  - title: github
    url: http://github.com/jekyll

# Postal address (add as many lines as necessary)
address:
  - line: 3481 Melrose Place
  - line: Beverly Hills, CA 90210

# Build settings
markdown: kramdown
permalink: pretty
