<section class="page-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">お問い合わせ・ご依頼</h2>
        <h3 class="section-subheading text-muted">
          ご依頼やご質問は、以下のリンク経由にて承ります。
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <p>
            ご依頼（有償・無償）や活動に関するお問い合わせは、<br />
            TwitterのDMまたはメールにてお願いします。
          </p>
          <a
            href="https://lit.link/hexmyria"
            target="_blank"
            class="btn btn-xl text-uppercase"
            style="background-color: #6973e6; color: white"
          >
            <i class="fas fa-link"></i> lit.linkで連絡先と支援サイトを見る
          </a>
          <p style="margin-top: 20px">メールアドレス: {{ site.email }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
